@import url(./style.css);

@media screen and (min-width: 768px) {
  #hero {
    padding: 0;
  }

  .desktop-navbar {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: #fff;
    align-content: center;
    padding: 10px 8rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  }

  .contact-icon-container {
    background-color: var(--dark-gray-color);
    width: 100%;
    max-height: 40px;
    height: 20px;
  }

  #intro-section {
    padding-top: 3rem;
  }

  .header-logo-container {
    height: auto;
    margin-top: 0;
  }

  .header-logo {
    width: 3rem;
    height: 3rem;
    align-self: center;
  }

  .nav-container li {
    cursor: pointer;
  }

  .nav-container li:last-child {
    border: 4px solid var(--theme-color);
    padding: 10px 15px;
    margin-left: 1.75rem;
    color: var(--theme-color);
  }

  .nav-container li a {
    text-decoration: none;
    color: var(--dark-color);
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
  }

  #first-child {
    color: var(--theme-color);
  }

  #last-child {
    color: var(--theme-color);
  }

  .icons {
    margin-right: 6rem;
  }

  .icons:first-child {
    cursor: pointer;
  }

  .icons span {
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
  }
}
