* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

:root {
  --dark-color: #272a31;
  --theme-color: #ec5242;
  --subtheme-color:#ec7a42 ;
  --gray-color: #d3d3d3;
  --dark-gray-color: rgb(67, 67, 67);
  --footer-color:#333333;

}
